<p id="notice"><%= notice %></p>

<h1>Structures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Street</th>
      <th>Street number</th>
      <th>City</th>
      <th>Province</th>
      <th>Zipcode</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structures.each do |structure| %>
      <tr>
        <td><%= structure.name %></td>
        <td><%= structure.description %></td>
        <%if structure.address.present?%>
          <td><%= structure.address.street %></td>
          <td><%= structure.address.street_number %></td>
          <td><%= structure.address.city %></td>
          <td><%= structure.address.province %></td>
          <td><%= structure.address.zipcode %></td>
          <td><%= structure.address.country %></td>
          <td><%= structure.address.latitude %></td>
          <td><%= structure.address.longitude %></td>
        <%end%>
        <td><%= link_to 'Show', structure %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
