<!DOCTYPE html>
<html>
  <head>
       
    <title><%= full_title yield(:title)%></title>
    <meta name="description" content= "<%=meta_descriptions yield(:description)%>">
        
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21109060-23"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-21109060-23');
  </script>


    <!-- Open Graph Facebook -->
  <%if controller.controller_name=="posts"%> 
    <meta property="og:url"                content="<%= request.original_url%>" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="<%= yield(:title)%>" />
    <meta property="og:description"        content="<%= yield(:description)%>" />
    <meta property="og:image"              content="<%= asset_url ("/assets/gioiosando.jpg")%>" />
  <%else%> 
    <meta property="og:url"                content="<%= request.original_url%>"/>
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="<%= full_title yield(:title)%>" />
    <meta property="og:description"        content="<%= meta_descriptions yield(:description)%>" />
    <meta property="og:image"              content="<%= asset_url ("/assets/gioiosando.jpg")%>" />
  <%end%>


  </head>

  <body>
    
<script>
  window.fbAsyncInit = function() {
    FB.init({ 
      <%if Rails.env.production?%>
        appId    : '<%= Rails.application.secrets.facebook_app_id %>',
      <%end%>
      appId      : '<%= Rails.application.secrets.facebook_app_id %>',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.11'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  


    <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Gioiosando</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
          <%= link_to "About", about_index_path, class: "nav-link"%>
        </li>

      <li class="nav-item">
         <%= link_to "Contatti", contacts_index_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Posts", posts_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Cosa Vedere", what_see_index_path, class: "nav-link"%>
      </li>

    </ul>


    <ul class="navbar-nav">

      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= gravatar_navbar current_user%>
            <%= current_user.email%>
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Account", account_index_path,class: "dropdown-item"%>
          <%= link_to "Bacheca", "#", class: "dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
        </div>
      </li>
        
      <% else %>
      <li class="nav-item">
        <%= link_to('Accedi', new_user_session_path, class: "nav-link")  %>
      </li>
    <% end %>
    </ul>
    </div>
    </nav>

    <%= yield %>
    </div>
  </body>
</html>
