<!DOCTYPE html>
<html>
  <head>
    <title>Giosando</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21109060-23"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-21109060-23');
  </script>


  </head>

  <body>
    <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Gioiosando</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
          <%= link_to "About", about_index_path, class: "nav-link"%>
        </li>

      <li class="nav-item">
         <%= link_to "Contatti", contacts_index_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Posts", posts_path, class: "nav-link"%>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to('Accedi', new_user_session_path, class: "nav-link")  %>
      </li>
      <% end %>

      </ul>
      </div>
    </nav>

    <%= yield %>
    </div>
  </body>
</html>
